:root {
    --pink-highlight: #fbaefc;
    --orange-highlight: #f7bb25;
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
/*    display: flex;
    flex-direction: column;
    align-items: center;*/
    background: rgba(0, 0, 0, .03);
}

nav {
    height: 40vh;    
    background-image: url(catherine-heath-1309997-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.menu {
    display: flex;
    margin: 0;
    padding: 10px 0 10px 0;
    position: relative;
    z-index: 1;
}

.menu a {
    color: white;
}

.menu-bkg {
    background: rgba(0, 0, 0, .7);
}

li {
    flex: 1;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.wrapper {
    padding-top: 20px;
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    line-height: 2;
    position: relative;
    z-index: 1;
}

.wrapper a {
    color: black;
}

.highlight {
    transition: all 0.2s;
    z-index: 0; 
    background: var(--orange-highlight);
    border-radius: 15px;
    top: 0; /* Initialize at top of page*/
    left: 0;
    position: absolute;
}




